<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- bootstrap.js 의 경우 제이쿼리가 꼭 있어야 하기때문에 제이쿼리가 먼저 호출되도록 작성 -->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!--  호출 코드는 절대경로 (/) 로 시작
    스프링 부트는 기본적으로 src/main/resources/static 에 위치한 자바스크립트 ,CSS , 이미지 등 정적 파일들을 URL 에서 / 로 설정된다.
-->
</body>
</html>