<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--
    CSS 와 JS 의 위치는 다르다.
    페이지 로딩속도를 높이기 위해서 CSS 는 Header
    JS 는 Footer에 둔다.
    HTML은 위에서부터 실행되기 때문에 Head가 다 실행되고나서 Body 가 실행된다.
-->